<div class="modal-header">
  <div class="row">
    <div class="col-3 pl-2">
      <img src="{{lessonEntry.lesson.teacher.photoContentType}}" alt=" " class="img-fluid">
      <h6>{{lessonEntry.lesson.teacher.firstName}}</h6>
    </div>

    <div class="col-9">
      <h6>{{lessonEntry.lesson.name}}</h6>
      <h6>{{lessonEntry.lesson.startDate.format('dddd')}}
        {{lessonEntry.lesson.startDate.format('DD.MM.YYYY')}}</h6>
      <h6>{{lessonEntry.lesson.startDate.format('HH:mm')}}-{{lessonEntry.lesson.endDate.format('HH:mm')}}</h6>
      <span class="badge badge-primary badge-pill">Remain spaces: {{lessonEntry.lesson.remainSpaces}}</span>

    </div>
  </div>
</div>

<div class="modal-body">
  <p class="mx-3">{{lessonEntry.lesson.description}}</p>

</div>

<div class="modal-footer">

  <div>

    <button type="button" class="btn btn-light mr-2" aria-label="Close" (click)="onNoClick()">Back</button>

    <button class="btn btn-primary" *ngIf="data.showBookingModalNotCancelModal;else cancel"
            (click)="openDialog(lessonEntry, day, data.showBookingModalNotCancelModal)">Book
    </button>
    <ng-template #cancel>
      <button class="btn-outline-primary" (click)="openDialog(lessonEntry, day, data.showBookingModalNotCancelModal)">
        Delete
      </button>
    </ng-template>

  </div>

</div>




