<h2 *ngIf="showCaption"> Nädal {{firstDayOfWeek}}-{{lastDayOfWeek}}</h2>

<ul class="list-group" *ngFor="let day of timetable" >

  <li class="list-group-item d-flex justify-content-between align-items-center">
     {{day.day.dayOfWeek}}, {{day.day.date}}
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center"
      *ngFor="let lesson of day.lessons">
    {{lesson.lessonStartTime}}-{{lesson.lessonEndTime}} {{lesson.nameOfLesson}}
    <span class="badge badge-primary badge-pill">
     {{lesson.booked}}/{{lesson.availableSpaces}}
    </span>

    <button mat-raised-button
             (click)="openDialog(lesson, day, showBookingModalNotCancelModal)"><mat-icon> > </mat-icon></button>
  </li>

</ul>

