<header>
  <nav class="navbar navbar-expand-md fixed-top navbar-dark " style="background-color: #212121;">
    <a class="navbar-brand font-weight-bold" routerLink="/">
      <img class="mr-2" src="/src/assets/params/images/logo/kundalini.png" width="20" height="20" alt="">
      <span style="color:white">{{ title }}</span>
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault"
      aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarsExampleDefault">
      <ul class="navbar-nav ml-auto font-weight-bold" >

<!--        <li class="nav-item active">-->
<!--          <a class="nav-link" routerLink="/">-->
<!--            <i class="fas fa-home mr-2"></i>Home-->
<!--          </a>-->
<!--        </li>-->
        <li class="nav-item active" >
          <a class="nav-link" routerLink="/">
            <i class="fas fa-home mr-2" data-toggle="collapse" data-target="#navbarsExampleDefault" ></i>Tunniplaan
          </a>
        </li>
<!--       <li class="nav-item active">-->
<!--          <a class="nav-link" routerLink="/dashboard">-->
<!--            <i class="fas fa-columns mr-2"></i>Dashboard-->
<!--          </a>-->
<!--        </li>-->
        <li class="nav-item active">
          <a class="nav-link" routerLink="/teachers" >
            <i class="fas fa-columns mr-2" data-toggle="collapse" data-target="#navbarsExampleDefault" ></i>Õpetajad
          </a>
        </li>
<!--        <li class="nav-item active">-->
<!--          <a class="nav-link" routerLink="/about">-->
<!--            <i class="far fa-question-circle mr-2"></i>About-->
<!--          </a>-->
<!--        </li>-->
        <li class="nav-item active">
          <a class="nav-link" routerLink="/my-account"  >
            <i class="fab fa-github mr-2" data-toggle="collapse" data-target="#navbarsExampleDefault" ></i>Minu andmed
          </a>
        </li>
        <li class="nav-item active">
          <a class="nav-link" routerLink="/bookings" >
            <i class="fab fa-github mr-2" data-toggle="collapse" data-target="#navbarsExampleDefault" ></i>Minu broneeringud
          </a>
        </li>
        <li class="nav-item active">
          <a class="nav-link" href="https://urbanzen.ee" >
            <i class="far fa-question-circle mr-2"></i>Studio
          </a>
        </li>
      </ul>
    </div>
  </nav>
</header>


