<div mat-dialog-container >

  <div mat-dialog-content *ngIf="showError">
    <h1 mat-dialog-title>Error</h1>
    <h6>{{error}}</h6>
  </div>

  <div mat-dialog-content *ngIf="!showError">
    <h1 mat-dialog-title>Booking is confirmed</h1>
    <h3>{{lesson.startDate.format('dddd')}}, {{lesson.startDate.format('DD.MM.YYYY')}}</h3>
    <h6>{{lesson.startDate.format('HH:mm')}}-{{lesson.endDate.format('HH:mm')}}</h6>
    <h3>{{lesson.name}}</h3>
    <h6>Teacher: {{lesson.teacher.firstName}} {{lesson.teacher.lastName}}</h6>
  </div>

  <div mat-dialog-actions>
    <button mat-button class = "btn-primary"(click)="gotoBookings()">OK</button>
  </div>

</div>
