<div>
  <div class="row justify-content-center">
    <div class="col-md-8">
      <h2>{{'schedule.title'|translate}}</h2>

        <ul *ngIf="showCaption" class="pagination">

          <li class="page-item">
            <button mat-raised-button (click)="previousWeek(firstDayOfWeek, lastDayOfWeek)"><i
              class="fa fa-caret-left" aria-hidden="true"></i></button>
          </li>

          <button mat-raised-button>
            {{'schedule.currentWeek'|translate}}
            {{firstDayOfWeek.format('DD.MM.YYYY')}}
            -{{lastDayOfWeek.format('DD.MM.YYYY')}}</button>

          <li class="page-item">
            <button mat-raised-button (click)="nextWeek(firstDayOfWeek, lastDayOfWeek)"><i
              class="fa fa fa-caret-right" aria-hidden="true"></i></button>
          </li>

        </ul>

        <app-timetable [showCaption]="true" [showBookingModalNotCancelModal]="true" [timetables]="timetables"
                       [firstDayOfWeek]="firstDayOfWeek" [lastDayOfWeek]="lastDayOfWeek"></app-timetable>
      </div>

  </div>
</div>
