<div>
  <div class="row justify-content-center">
    <div class="col-md-8">
      <h2>{{'password.title' | translate}}</h2>

      <div class="alert alert-success" *ngIf="success">
        <strong>{{'password.messages.success' | translate}}</strong>
      </div>

      <div class="alert alert-danger" *ngIf="error">
        <strong>{{'password.messages.error' | translate}}</strong>
      </div>

      <div class="alert alert-danger" *ngIf="doNotMatch">
        {{'messages.error.passwordDontMatch' | translate}}
      </div>

      <form name="form" role="form" (ngSubmit)="changePassword()" [formGroup]="passwordForm">

        <div class="form-group">
          <label class="form-control-label" for="currentPassword">
            {{'form.currentPassword.label' | translate}}
          </label>
          <input type="password" class="form-control" id="currentPassword" name="currentPassword"
                 placeholder="{{'form.currentPassword.placeholder' | translate}}"
                 formControlName="currentPassword">
          <div
            *ngIf="passwordForm.get('currentPassword').invalid && (passwordForm.get('currentPassword').dirty || passwordForm.get('currentPassword').touched)">
            <small class="form-text text-danger"
                   *ngIf="passwordForm.get('currentPassword').errors.required">
              {{'messages.validate.password.required' | translate}}
            </small>
          </div>
        </div>

        <div class="form-group">
          <label class="form-control-label" for="newPassword">
            {{'form.newPassword.label' | translate}}
          </label>
          <input type="password" class="form-control" id="newPassword" name="newPassword"
                 placeholder="{{'form.newPassword.placeholder' | translate}}"
                 formControlName="newPassword">
          <div
            *ngIf="passwordForm.get('newPassword').invalid && (passwordForm.get('newPassword').dirty ||
            passwordForm.get('newPassword').touched)">
            <small class="form-text text-danger"
                   *ngIf="passwordForm.get('newPassword').errors.required">
              {{'messages.validate.password.required' | translate}}
            </small>
            <small class="form-text text-danger"
                   *ngIf="passwordForm.get('newPassword').errors.minlength">
              {{'messages.validate.password.minlength' | translate}}
            </small>
            <small class="form-text text-danger"
                   *ngIf="passwordForm.get('newPassword').errors.maxlength">
              {{'messages.validate.password.maxlength' | translate}}
            </small>
          </div>
        </div>

        <div class="form-group">
          <label class="form-control-label" for="confirmPassword">
            {{'form.confirmPassword.label' | translate}}
          </label>
          <input type="password" class="form-control" id="confirmPassword" name="confirmPassword"
                 placeholder="{{'form.confirmPassword.placeholder' | translate}}"
                 formControlName="confirmPassword">
          <div
            *ngIf="passwordForm.get('confirmPassword').invalid && (passwordForm.get('confirmPassword').dirty ||
            passwordForm.get('confirmPassword').touched)">
            <small class="form-text text-danger"
                   *ngIf="passwordForm.get('confirmPassword').errors.required">
              {{'messages.validate.confirmPassword.required' | translate}}
            </small>
            <small class="form-text text-danger"
                   *ngIf="passwordForm.get('confirmPassword').errors.minlength">
              {{'messages.validate.confirmPassword.minlength' | translate}}
            </small>
            <small class="form-text text-danger"
                   *ngIf="passwordForm.get('confirmPassword').errors.maxlength">
              {{'messages.validate.confirmPassword.maxlength' | translate}}
            </small>
          </div>
        </div>
        <button type="submit" [disabled]="passwordForm.invalid" class="btn btn-primary">
          {{'action.save' | translate}}
        </button>
      </form>
    </div>
  </div>
</div>
