<div *ngIf="!timetables">
  loading
</div>

<div *ngIf="timetables">

  <ul class="list-group" *ngFor="let timetable of timetables">
    <div class="card p-2">
      <div class="row">
        <div class="col-sm">

          <li class="list-group-item d-flex justify-content-between align-items-end">
            <h6 class="font-weight-bold">{{timetable.timetableDay.locale(language).format('dddd')| titlecase}},
              {{timetable.timetableDay.format('DD.MM.YYYY')}}</h6>
          </li>
        </div>

        <div class="col-sm">

          <li class="list-group-item d-flex justify-content-between align-items-end"
              *ngFor="let lessonEntry of timetable.lessonEntries">

            <p *ngIf="language == 'en'" class="mr-2">{{lessonEntry.lesson.startDate.format('HH:mm')}}-
              {{lessonEntry.lesson.endDate.format('HH:mm')}}</p>
            <p *ngIf="language == 'en'" class="mr-2">{{lessonEntry.lesson.nameEng}}, </p>
            <p *ngIf="language == 'en'" class="mr-2">{{lessonEntry.lesson.teacher.firstNameEng}}</p>

            <p *ngIf="language == 'ru'" class="mr-2">{{lessonEntry.lesson.startDate.format('HH:mm')}}-
              {{lessonEntry.lesson.endDate.format('HH:mm')}}</p>
            <p *ngIf="language == 'ru'" class="mr-2">{{lessonEntry.lesson.nameRus}}, </p>
            <p *ngIf="language == 'ru'" class="mr-2">{{lessonEntry.lesson.teacher.firstNameRus}}</p>

            <p *ngIf="language == 'et'" class="mr-2">{{lessonEntry.lesson.startDate.format('HH:mm')}}-
              {{lessonEntry.lesson.endDate.format('HH:mm')}}</p>
            <p *ngIf="language == 'et'" class="mr-2">{{lessonEntry.lesson.name}}, </p>
            <p *ngIf="language == 'et'" class="mr-2">{{lessonEntry.lesson.teacher.firstName}}</p>

            <button type="button" class="btn btn-primary btn-sm"
                    [disabled]="lessonEntry.lesson.startDate.isBefore(now)"
                    (click)="openDialog(lessonEntry, timetable, showBookingModalNotCancelModal)">

              <span *ngIf="showCaption" class="mr-2">{{'action.book' | translate}}</span>
              <span *ngIf="!showCaption" class="mr-2">{{'action.delete' | translate}}</span>

              <span class="badge badge-light badge-pill">{{lessonEntry.lesson.remainSpaces}}
                /{{lessonEntry.lesson.availableSpaces}}</span>

            </button>

          </li>

        </div>
      </div>
    </div>
  </ul>

</div>
