<div>
  <div class="row justify-content-center">
    <div class="col-md-8">
      <h2>{{'settings.title' | translate}}
      </h2>

      <div class="alert alert-success" *ngIf="success">
        <strong>{{'settings.messages.success' | translate}}</strong>
      </div>

      <alert></alert>

      <form name="form" role="form" (ngSubmit)="save()" [formGroup]="settingsForm"
            *ngIf="settingsForm.get('login').value" novalidate>

        <div class="form-group">
          <label class="form-control-label" for="firstName">{{'form.firstName.label' | translate}}</label>
          <input type="text" class="form-control" id="firstName" name="firstName"
                 placeholder="{{'form.firstName.placeholder'| translate}}" formControlName="firstName">
          <div *ngIf="settingsForm.get('firstName').invalid && (settingsForm.get('firstName').dirty ||
          settingsForm.get('firstName').touched)">
            <small class="form-text text-danger" *ngIf="settingsForm.get('firstName').errors.required">
              {{'settings.messages.validate.firstName.required' | translate}}
            </small>
            <small class="form-text text-danger" *ngIf="settingsForm.get('firstName').errors.minlength">
              {{'settings.validate.firstName.minlength' | translate}}
            </small>
            <small class="form-text text-danger" *ngIf="settingsForm.get('firstName').errors.maxlength">
              {{'settings.validate.firstName.maxlength' | translate}}
            </small>
          </div>
        </div>
        <div class="form-group">
          <label class="form-control-label" for="lastName">{{'form.lastName.label' | translate}}
          </label>
          <input type="text" class="form-control" id="lastName" name="lastName"
                 placeholder="{{'form.lastName.placeholder' | translate}}" formControlName="lastName">
          <div *ngIf="settingsForm.get('lastName').invalid && (settingsForm.get('lastName').dirty ||
          settingsForm.get('lastName').touched)">
            <small class="form-text text-danger" *ngIf="settingsForm.get('lastName').errors.required">
              {{'settings.messages.validate.lastName.required' | translate}}
            </small>
            <small class="form-text text-danger" *ngIf="settingsForm.get('lastName').errors.minlength">
              {{'settings.messages.validate.lastName.required' | translate}}
            </small>
            <small class="form-text text-danger" *ngIf="settingsForm.get('lastName').errors.maxlength">
              {{'settings.messages.validate.lastName.required' | translate}}
            </small>
          </div>
        </div>

        <div class="form-group">
          <label class="form-control-label" for="email">{{'form.email.label' | translate}}
          </label>
          <input type="email" class="form-control" id="email" name="email"
                 placeholder="{{'form.email.placeholder' | translate}}" formControlName="email">
          <div *ngIf="settingsForm.get('email').invalid && (settingsForm.get('email').dirty ||
          settingsForm.get('email').touched)">
            <small class="form-text text-danger" *ngIf="settingsForm.get('email').errors.required">
              {{'messages.validate.email.required' | translate}}
            </small>
            <small class="form-text text-danger" *ngIf="settingsForm.get('email').errors.email">
              {{'messages.validate.email.invalid' | translate}}
            </small>
            <small class="form-text text-danger" *ngIf="settingsForm.get('email').errors.minlength">
              {{'messages.validate.email.minLength' | translate}}
            </small>
            <small class="form-text text-danger" *ngIf="settingsForm.get('email').errors.maxlength">
              {{'messages.validate.email.maxLength' | translate}}
            </small>
          </div>
        </div>

        <div class="form-group">
          <label class="form-control-label" for="phone">{{'form.phone.label' | translate}}
          </label>
          <input type="text" class="form-control" name="phone" id="phone"
                 placeholder="{{'form.phone.placeholder' | translate}}" formControlName="phone"/>
          <div *ngIf="settingsForm.get('phone').invalid && (settingsForm.get('phone').dirty ||
            settingsForm.get('phone').touched)">
            <small class="form-text text-danger" *ngIf="settingsForm.get('phone').errors.required">
              {{'messages.validate.phone.required' | translate}}
            </small>
          </div>
        </div>

        <button type="submit" [disabled]="settingsForm.invalid" class="btn btn-primary">
          {{'action.save' | translate}}
        </button>
      </form>
    </div>
  </div>

</div>
