<div>
  <div class="row justify-content-center">
    <div class="col-md-8">
      <h1>{{'password.reset.request.title' | translate}}</h1>

      <div class="alert alert-danger" *ngIf="errorEmailNotExists">
        <strong>{{'password.reset.request.messages.notfound'| translate}}</strong>
      </div>

      <div class="alert alert-warning" *ngIf="!success">
        <p>{{'password.reset.request.messages.info' | translate}}</p>
      </div>

      <div class="alert alert-success" *ngIf="success === 'OK'">
        <p>{{'password.reset.request.messages.success' | translate}}</p>
      </div>

      <form *ngIf="!success" name="form" role="form" (ngSubmit)="requestReset()" [formGroup]="resetRequestForm">
        <div class="form-group">
          <label class="form-control-label" for="email">{{'form.email.label' | translate}}</label>
          <input type="email" class="form-control" id="email" name="email"
                 placeholder="{{'form.email.placeholder' | translate}}"
                 formControlName="email">
          <div *ngIf="resetRequestForm.get('email').invalid && (resetRequestForm.get('email').dirty ||
          resetRequestForm.get('email').touched)">
            <small class="form-text text-danger" *ngIf="resetRequestForm.get('email').errors.required">
              {{'messages.validate.email.required' | translate}}
            </small>
            <small class="form-text text-danger" *ngIf="resetRequestForm.get('email').errors.email">
              {{'messages.validate.email.invalid' | translate}}
            </small>
            <small class="form-text text-danger" *ngIf="resetRequestForm.get('email').errors.minlength">
              {{'messages.validate.email.minlength' | translate}}
            </small>
            <small class="form-text text-danger" *ngIf="resetRequestForm.get('email').errors.maxlength">
              {{'messages.validate.email.maxlength' | translate}}
            </small>
          </div>
        </div>
        <button type="submit" [disabled]="resetRequestForm.invalid" class="btn btn-primary">
          {{'password.reset.request.form.button' | translate}}
        </button>
      </form>
    </div>
  </div>
</div>
